In [1]:
import pandas as pd

# File path to the JSON file
spotify1 = '/content/drive/MyDrive/Dane z aplikacji/Spotify/MyData/StreamingHistory0.json'

# Read the JSON file into a dataframe
with open(spotify1, encoding='utf-8') as inputfile:
    df1 = pd.read_json(inputfile)

# Add two new columns to the dataframe
df1['Source'] = 'Spotify'
df1['Account'] = 'zethar182@gmail.com'

# Rename columns in the dataframe
df1.rename(columns={'endTime': 'Date', 'artistName': 'Artist', 'trackName': 'Track', 'msPlayed': 'Duration'}, inplace=True)

# Reorder columns in the dataframe
df1 = df1[['Artist', 'Track', 'Date', 'Duration', 'Source', 'Account']]

# Show the first 5 rows of the dataframe
df1.head()

,Artist,Track,Date,Duration,Source,Account
0,Echo & the Bunnymen,Seven Seas,2022-10-26 18:09,199386,Spotify,zethar182@gmail.com
1,Depeche Mode,Freelove,2022-10-26 18:11,109898,Spotify,zethar182@gmail.com
2,Camila Cabello,Never Be the Same,2022-10-26 18:15,226973,Spotify,zethar182@gmail.com
3,Purple Disco Machine,Money Money,2022-10-26 18:18,210210,Spotify,zethar182@gmail.com
4,Nicki Minaj,Super Freaky Girl,2022-10-26 18:21,170977,Spotify,zethar182@gmail.com

In [2]:
import pandas as pd

# File path to the CSV file
lastfm = '/content/drive/MyDrive/Dane z aplikacji/LastFM/slazur83.csv'

# Read the CSV file into a dataframe
df2 = pd.read_csv(lastfm, header=None, names=['Artist', 'Album', 'Track', 'Date'])

# Add new columns to the dataframe
df2['Source'] = 'LastFM'
df2['Account'] = 'slazur83@gmail.com'

# Show the first 5 rows of the dataframe
df2.head()

,Artist,Album,Track,Date,Source,Account
0,Sleep Nature Rain Sound,Dźwięki deszczu do spania,Sleep With Rain Music,01 Apr 2023 21:21,LastFM,slazur83@gmail.com
1,Sleep Nature Rain Sound,Dźwięki deszczu do spania,Sleep With Rain Music,01 Apr 2023 21:20,LastFM,slazur83@gmail.com
2,Sleep Nature Rain Sound,Dźwięki deszczu do spania,Sleep With Rain Music,01 Apr 2023 21:19,LastFM,slazur83@gmail.com
3,Sleep Nature Rain Sound,Dźwięki deszczu do spania,Sleep With Rain Music,01 Apr 2023 21:18,LastFM,slazur83@gmail.com
4,Sleep Nature Rain Sound,Dźwięki deszczu do spania,Sleep With Rain Music,01 Apr 2023 21:17,LastFM,slazur83@gmail.com

In [3]:
import pandas as pd

# File path to the Excel file
deezer = '/content/drive/MyDrive/Dane z aplikacji/Deezer/4519420622.xlsx'

# Read the specified sheet from the Excel file into a dataframe
df3 = pd.read_excel(deezer, sheet_name="10_listeningHistory")

# Rename columns in the dataframe
df3.rename(columns={'Song Title': 'Track', 'Album Title': 'Album', 'Listening Time': 'Duration', 'Platform Name':'Platform'}, inplace=True)

# Delete a column 'ISRC' from the dataframe
del df3['ISRC']

# Add new columns to the dataframe
df3['Source'] = 'Deezer'
df3['Account'] = 'slazur83@gmail.com'

# Show the first 5 rows of the dataframe
df3.head()

,Track,Artist,Album,IP Address,Duration,Platform,Platform Model,Date,Source,Account
0,Where's Your Head At,Basement Jaxx,Where's Your Head At,31.0.63.47,240,android,HUAWEI VOG-L29,2022-02-01 07:57:22,Deezer,slazur83@gmail.com
1,Breakfast In America,Supertramp,The Very Best Of Supertramp,93.105.177.147,160,web,NaN,2022-06-05 19:26:43,Deezer,slazur83@gmail.com
2,Shiver,Coldplay,Parachutes,93.105.177.199,85,web,NaN,2022-07-09 20:28:57,Deezer,slazur83@gmail.com
3,Shiver,Coldplay,Parachutes,31.0.53.155,6,android,HUAWEI VOG-L29,2022-06-27 17:27:04,Deezer,slazur83@gmail.com
4,La femme d'argent,Air,Moon Safari,93.105.177.246,427,web,NaN,2021-12-23 12:54:27,Deezer,slazur83@gmail.com

In [4]:
import pandas as pd

# Concatenate the three dataframes into one, ignoring their original indices
merged = pd.concat([df1, df2, df3], ignore_index=True)

# Reorder columns in the merged dataframe
merged = merged[['Date', 'Artist', 'Track', 'Album', 'Duration', 'Source', 'Account', 'Platform', 'Platform Model', 'IP Address']]

# Change Date field to time format
merged['Date'] = pd.to_datetime(merged['Date'])
merged.sort_values(by='Date')

# Print the first 5 rows of the merged dataframe
merged.head()

,Date,Artist,Track,Album,Duration,Source,Account,Platform,Platform Model,IP Address
0,2022-10-26 18:09:00,Echo & the Bunnymen,Seven Seas,NaN,199386.0,Spotify,zethar182@gmail.com,NaN,NaN,NaN
1,2022-10-26 18:11:00,Depeche Mode,Freelove,NaN,109898.0,Spotify,zethar182@gmail.com,NaN,NaN,NaN
2,2022-10-26 18:15:00,Camila Cabello,Never Be the Same,NaN,226973.0,Spotify,zethar182@gmail.com,NaN,NaN,NaN
3,2022-10-26 18:18:00,Purple Disco Machine,Money Money,NaN,210210.0,Spotify,zethar182@gmail.com,NaN,NaN,NaN
4,2022-10-26 18:21:00,Nicki Minaj,Super Freaky Girl,NaN,170977.0,Spotify,zethar182@gmail.com,NaN,NaN,NaN

In [5]:
# Check if the length of each of the original dataframes df1, df2, and df3 added together is equal to the length of the merged dataframe.
if sum([len(df1), len(df2), len(df3)]) == len(merged):
  print('All data is merged')
else:
  print('Not all data is merged')

# Check if there are nulls in the merged dataframe
if merged['Date'].isna().sum():
  print('There are some nulls')
else:
  print('There are no nulls')

All data is merged
There are no nulls

In [6]:
# Export the merged dataframe to the music_tracks.csv file
merged.to_csv('/content/drive/MyDrive/Colab Notebooks/Tableau/Outputs/music_tracks.csv', index=False)